.father {
  width: 1000px;
  height: 30px;
  background-color: rgb(7, 8, 8);
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.child1 {
  color: aliceblue;
}
